.users-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

button {
    width: calc(1vw + 7rem);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.action-col {
    text-align: center;
}

.btn-info {
    background: #0dcaf0 !important;
    width: 3rem;
}

.btn-danger {
    width: 3rem;
}

.action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.read-only-user-detail { 
    pointer-events: none;
}

.user-row {
    display: flex;
    gap: 1rem;
}

.form-floating {
    width: 100%;
}

.title {
    padding: 0rem 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.transaction {
    margin-bottom: unset !important;
    width: 100%;
}

.transaction-body {
    margin-bottom: 1rem;
}

.transaction-body-container {
    padding: 1rem;
    overflow-y: scroll;
    height: 12rem;
}

p {
    margin-bottom: 0;
}

.transfer-names {
    height: calc(3.5rem + 2px);
}

.submit-btn { 
    color: #fff;
    background-color: #7E57C2;
    border-color: #7E57C2;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.submit-btn:hover {
    color: #fff;
    background-color: #7E57C2;
    border-color: #7E57C2;
}

.error-message {
    color: red;
}

.success-message {
   color: green;
}

.enter-an-amount-message {
    color: orange;
}

.required {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.modal-title {
    justify-content: unset;
}

div#contained-modal-title-vcenter {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.modal-close-btn {
    font-size: 1rem;
}

table.table {
    overflow-x: auto;
    display: block;    
}
@media (min-width: 768px) {
    table.table {
        overflow-x: unset;
        display: block;
    }
}
@media (min-width: 1024px) {
    table.table {
        display: inline-table;
    }
}

.add-user-btn {
    width: 9rem;
}

.add-client-btns {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.btns-n-search {
    margin-bottom: 0.5rem;
}

.me-2 {
    margin-right: 0rem !important;
}

@media (min-width: 768px) {
    .add-client-btns {
        display: flex;
        margin-bottom: 0.5rem;
        justify-content: unset;
        gap: 1rem;
    }

    .btns-n-search {
        display: flex;
        justify-content: space-between;
    }
}

.add-expense-btn {
    width: 12rem;
}